<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prisma77.dao.BoardDAO">
    <resultMap id="BoardMap" type="com.prisma77.dto.BoardDTO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAllBoards"  resultType="com.prisma77.dto.BoardDTO">
        SELECT id, title, content, created_at, updated_at
        FROM board
        ORDER BY id DESC
    </select>

    <select id="getBoardById" resultMap="BoardMap" parameterType="int">
        SELECT id, title, content, created_at, updated_at
        FROM board
        WHERE id = #{id}
    </select>

    <insert id="insertBoard" parameterType="com.prisma77.dto.BoardDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (title, content)
        VALUES (#{title}, #{content})
    </insert>

    <update id="updateBoard" parameterType="com.prisma77.dto.BoardDTO">
        UPDATE board
        SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE id = #{id}
    </delete>

</mapper>